 :host {
      }
      @font-face {
       font-family: 'Allura-Regular';
       src: url('./fonts/Allura-Regular.otf') format("truetype");
      }
     
 #main-section{
        width: 100%;
        height: 100%;
      }
      
